<%
  add_breadcrumb @tout.city.name, touts_path(city: @tout.city.alias)
  add_breadcrumb @tout.operation.name, touts_path(city: @tout.city.alias, operation: @tout.operation.alias)
  add_breadcrumb @tout.category.name, touts_path(city: @tout.city.alias, operation: @tout.operation.alias, category: @tout.category.alias)
  add_breadcrumb @tout.name, tout_path(@tout)
%>

<div class="row">
  <div class="col-lg-4 photos-median">
    <% if @tout.photos %>
      <% @tout.photos.each do |photo| %>
        <%= image_tag photo.image.median.url if photo.image %>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-8">
    <%= simple_format @tout.content %>
  </div>
</div>

