<footer class="navbar navbar-fixed-bottom">
  <div class="col-lg-12 row clearfix">
    <p class="navbar-right"><a href="https://github.com/mpakus/toute">Toute - Open Classifieds Platform</a></p>
  </div>
</footer>
