<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('menu.authorize') %></h4>
      </div>
      <div class="modal-body">
        <script src="http://ulogin.ru/js/ulogin.js" type="text/javascript" async="async"></script>
        <div id="uLogin" data-ulogin="display=panel;fields=email,first_name,phone,photo,photo_big;optional=city,bdate,sex,country;providers=vkontakte,facebook,livejournal,odnoklassniki,twitter,google,yandex;hidden=other;redirect_uri=<%= sessions_url %>"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= I18n.t('buttons.close') %></button>
      </div>
    </div>
  </div>
</div>
